.movies {
  display : flex;
  align-items: center;
}
.movie {
  display: inline block;
  background-color: aquamarine;
  height : auto;
  width : auto;
  font-size: 0.5rem;
  margin-block: 10px;
  margin-inline : 5px;
}